@{
    ViewData["Title"] = "Access denied";
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">
    You do not have access to this resource.
    Please contact an account administrator if you believe you should have permissions to access this resource.
    </p>
</header>
