@model string

@{
    ViewData["Title"] = "Registered";
}

<h2>Registered</h2>

<p>User has been created. An email has been sent to @Model to confirm your email address and for an administrator to authorize your account. You will recieve an email when your account is activated.</p>