
@{
    ViewData["Title"] = "UserNotActivated";
}

<h2>UserNotActivated</h2>

<p class="danger">Your user has been created but it has not been authorized by an administrator yet, please contact your administrator to activated your user before you can log in</p>