@model FPFI.Models.Entry3

@{
    ViewData["Title"] = "2 Upload File";
    ViewData.AddActivePage(EntriesNavPages.Step2);
}

@section Styles{
    <environment include="Development">
        <link rel="stylesheet" href="~/css/step2.css" />
        <link rel="stylesheet" href="~/lib/icomoon/style.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/step2.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/icomoon/style.min.css" asp-append-version="true" />
    </environment>
}

<form id="Step2" asp-action="Step2" method="post" class="form-horizontal" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="Id" class="hidden" readonly />
    <input asp-for="AgeStart" class="hidden" readonly />
    <input asp-for="AgeEnd" class="hidden" readonly />
    <div class="wrapper">
        <div class="drop">
            <div class="cont">
                <div class="tit">
                    <span id="iconos" class="fas fa-cloud-upload-alt">
                        <span class="path1"></span>
                    </span>
                    <br />
                    <span id="name">Drag & Drop</span>
                </div>
                <div class="desc">
                    your <i class="far fa-file-excel"></i> files to Process, or
                </div>
                <div class="browse">
                    click here to browse
                </div>
            </div>
            <output id="list"></output><input id="files" asp-for="Excel" class="form-control" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel, application/vnd.ms-excel.sheet.macroEnabled.12, application/vnd.ms-excel.sheet.binary.macroEnabled.12" />
        </div>
    </div>
</form>

@section Scripts{
    @{var err = (bool?)ViewData["Error"];
        if (err.HasValue && err.Value)
        {
            <script>
                $(document).ready(function () {
                    alert("Wrong file format!");
                });
            </script>
        }
    }
    <environment include="Development">
        <script src="~/js/step2.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/step2.min.js" asp-append-version="true"></script>
    </environment>
}