@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Las Perdices 5261 A<br />
    Peñalolén, Santiago<br />
    <abbr title="Phone">P:</abbr>
    <a href="tel:+56968419339">+56 9 6841 9339</a>
</address>

<address>
    <strong>Support:</strong> <a href="mailto:guillermo@epicsolutions.cl">guillermo@epicsolutions.cl</a><br />
</address>
