* {
    box-sizing: border-box;
}

body {
    font: 14px/1 Arial, sans-serif;
}

.scrolltable {
    overflow-x: scroll;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
}

    .scrolltable > .body {
        /*noinspection CssInvalidPropertyValue*/
        width: -webkit-fit-content;
        overflow-y: scroll;
        flex: 1;
        -webkit-flex: 1;
    }

/* an outside constraint to react against */
#constrainer {
    width: 400px;
    height: 180px;
}

#constrainer2 {
    width: 100%;
    overflow-x: scroll;
}

    #constrainer2 tbody {
        overflow-y: scroll;
        display: block;
        height: 60vh;
    }

    #constrainer2 thead {
        display: table-row;
    }

/* only styling below here */
#constrainer, #constrainer2 {
    border: 1px solid lightgrey;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid #bbb;
    min-width: 260px;
    padding: 8px 16px;
}

th {
    background-color: #ddaa7a;
    border-width: 1px;
}

td {
    border-width: 1px;
}

tr:first-child td {
    border-top-width: 0;
}

tr:nth-child(even) {
    background-color: #eee;
}

table thead .sorting, .sorting_asc, .sorting_desc {
    background-repeat: no-repeat;
    background-position: right center;
}

table thead .sorting {
    background-image: url("/images/sort_both.png");
}

table thead .sorting_asc {
    background-image: url("/images/sort_asc.png");
}

table thead .sorting_desc {
    background-image: url("/images/sort_desc.png");
}