body {
    background-color: #EEE;
    background-image: url("/images/forests-sky-foliage-from-the-bottom-of-the-623012.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.jumbotron {
    background-color: #EEE;
    background-image: url("/images/wood-forest-fire-fireplace-washed.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}